
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 5vh;
    letter-spacing: 7px;
    text-shadow: 0 0 25px black;
    transition: opacity .3s;
}

h3 {
    font-weight: 400;
    font-size: 2vh;
    letter-spacing: 2px;
    text-shadow: 0 0 15px black;
}

/*---------------------*/
/*---------------------*/

.header {
    width: 100vw;
    height: 10vh;
    background-color: #1B1B1B;
    text-align: center;
    line-height: 10vh;
}

.main {
    width: 100vw;
    height: 80vh;
    background-color: #272727;
    overflow: hidden;
}

.container {
    width: 90vw;
    height: 70vh;
    margin: 5vh auto;
    background-color: #1B1B1B;
    border-radius: 40px;
    box-shadow: 0 0 25px 0 black;
}

.scrolling {
    width: 92%;
    height: 92%;
    position: relative;
    top: 4%;
    left: 4%;
    overflow-y: auto;
}

.scrolling > article {
    width: 95%;
    height: 30%;
    border-radius: 35px;
    margin-bottom: 2%;
    background-color: #272727;
    display: flex;
}

.scrolling > article:last-child {
    margin-bottom: 0;
}

.tile {
    width: 13vmin;
    height: 13vmin;
    margin: auto 0;
    margin-left: 1.5vmin;
    /* display: inline-block; */
    border-radius: 3vmin;
}

.tile:first-child {
    margin-left: 3vmin;
}

.hash {
    width: 13vmin;
    height: 13vmin;
    font-size: 2.7vmin;
    line-height: 13vmin;
    border-radius: 3vmin;
    text-align: center;
    /* color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    /* transition: opacity .2s ease-in-out; */
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all; 
}

.hash::selection {
    color: white;
}

.hash:hover {
    opacity: 1;
    cursor: pointer;
}

.add {
    width: 7vmin;
    height: 7vmin;
    border-radius: 2.2vmin;
    margin-left: 3vmin;
    display: flex;
    background-color: #494949;
}

.add:hover {
    background-color: #21a821;
    cursor: pointer;
}

.add img {
    margin: auto;
    width: 3.5vmin;
    filter: invert(100%);
}

.footer {
    width: 100vw;
    height: 10vh;
    background-color: #1B1B1B;
    text-align: center;
    line-height: 10vh;
}

