<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Manager</title>

    <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>

    <header class="header">

        <h1>Color Organizer</h1>

        <div class="logout">
            Logged in as: <b>nick</b>
            <a href="#" title="Click to logout">
                <div class="logoutButton">
                    Logout
                </div>
            </a>
        </div>

    </header>
    
    <main>
        <div class="main">
            <article class="container"> 

                <div class="scrolling">
                    
                    <article>
        
                        <div class="tile" style="background-color: green;">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#231AB2</div></a>
                        </div>

                        <div class="tile" style="background-color: red;">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#FFA22A</div></a>
                        </div>

                        <div class="tile" style="background-color: orange;">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#DA321B</div></a>
                        </div>

                        <div class="tile" style="background-color: blue;">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#A5362B</div></a>
                        </div>

                        <a href="#" title="Add color" style="display: block; margin: auto 0;">
                            <div class="tile add">
                                <img src="icons/add.svg" alt="Add">
                            </div>                            
                        </a>

                        <a href="#" title="Delete palette">
                            <div class="delete">Delete</div>
                        </a>

                    </article>
        
                    <article>

                        <div class="tile" style="background-color: rgb(31, 126, 204);">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#AA23AA</div></a>
                        </div>
                        
                        <div class="tile" style="background-color: rgb(199, 130, 195);">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#AA21F3</div></a>
                        </div>
                        
                        <div class="tile" style="background-color: rgb(202, 63, 105);">
                            <a href="#" title="Click to delete"><div class="delTile">x</div></a>
                            <a title="Click to copy"><div class="hash">#BC67DD</div></a>
                        </div>

                        <a href="#" title="Add color" style="display: block; margin: auto 0;">
                            <div class="tile add">
                                <img src="icons/add.svg" alt="Add">
                            </div>                            
                        </a>

                        <a href="#" title="Delete palette">
                            <div class="delete">Delete</div>
                        </a>
                        
                    </article>

                    <a href="#" title="Add pallete">
                        <div class="addPalet">
                            <img src="icons/add.svg" alt="Add Palet">
                        </div>
                    </a>
                    

                    <!-- <article></article> -->
                    <!-- <article></article> -->
                    <!-- <article></article> -->
     
                </div>

            </article>
        </div>
    </main>

    <footer class="footer">
        <h3>Copyright &copy; Jakub Stępkowski 2021</h3>
    </footer>

    <script src="autoCopy.js"></script>

</body>
</html>