<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Manager</title>

    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="formStyle.css" type="text/css">

</head>
<body>

    <header class="header">

        <h1>Color Organizer</h1>

    </header>
    
    <main>
        <div class="main">
            <article class="container"> 
                
                <div class="titleOfForm">Login</div>

                <form action="#" method="post">
                    
                    <input type="text" name="nick" placeholder="nick">

                    <input type="password" name="password" placeholder="password">

                    <input type="submit" value="Login">
                </form>

            </article>
        </div>
    </main>

    <footer class="footer">
        <h3>Copyright &copy; Jakub Stępkowski 2021</h3>
    </footer>

</body>
</html>